#main{
    border: 1px black solid;
    height: 400px;
    width: 500px;
    background-color:tan;
    margin: auto;
    margin-top: 7%;
}

#btn1{
    background-color: royalblue;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    font-size: 70px;
    margin-top: 20%;
    
}
#btn-rooms{
    height: 60px;
    width: 60px;
    
}
.div-rooms{
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
}
